<div class="well">
    <li class="nav-header">User Info</li>
    <ul class="nav nav-list">
        <li>
            <a href="{{ path('fos_user_profile_show') }}">My Information</a>
        </li>
        <li>
            <a href="{{ path('fos_user_profile_edit') }}">Edit My information</a>
        </li>
        <li>
            <a href="{{ path('fos_user_change_password') }}">Change My Password</a>
        </li>
        <li>
            <a href="{{ path('factures') }}">My Invoices</a>
        </li>

        <li>
            <a href="{{ path('fos_user_security_logout') }}">Logout</a>
        </li>
    </ul>
</div>