<div class="span3">

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('adminProduits') }}">Products</a>
            </li>
            <li>
                <a href="{{ path('adminCategories') }}">Product Categories</a>
            </li>
        </ul>
    </div>
    
    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('adminUtilisateurs') }}">Customers</a>
            </li>
            <li>
                <a href="{{ path('adminCommande') }}">Orders</a>
            </li>
        </ul>
    </div>
    
    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('adminPages') }}">Pages</a>
            </li>
        </ul>
    </div>    
</div>